{% extends 'base.html' %}


{% block content %}


 <!-- Header-->
 
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">About us</h1>
            <p class="lead fw-normal text-black-50 mb-0">Welcome to Sam's Restuarant</p>
        </div>
    </div>


<div class="container">

  <div class="row">

    <center>

        <div class="col-8">

            <p>Welcome to Sam's Restaurant, your go-to destination for authentic African cuisine delivered right to your doorstep. Our online ordering platform makes it easy for customers to explore our rich menu of tantalizing African dishes, from aromatic stews to savory grilled meats and flavorful sides. With our intuitive tracking system, users can monitor their orders every step of the way, ensuring timely delivery and satisfaction. Experience the taste of Africa with Sam's Restaurant, where convenience meets culinary excellence</p>


        </div>
        <br>
        <br>

        <div>

            <p>Address</p>

            <p>Shoshanguve</p>


        </div>

    </center>

  </div>  

</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br><br>
<br>
{% endblock %}