{% extends 'base.html' %}


{% block content %}


 <!-- Header-->
 
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">Check Your Order Summary</h1>
            <p class="lead fw-normal text-black-50 mb-0">Review Your Order</p>
        </div>
    </div>


  <br>
  <div class="container">

       <div class="row">

            <div class="col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-header">
                      Order Summary
                    </div>
                    <div class="card-body">

                        {% for product in cart_products %}


                           {{ product.name }}:

                              
                                 {% if product.is_sale %}

                                      R{{ product.sale_price }}

                                {% else %}

                                      R{{ product.price }}

                            
                            {% endif %}

                          
                           <small> Quantity: 
                            
                           {% for key, value in  quantities.items %}

                                {% if key == product.id|slugify %}

                                      {{ value }}   

                                {% endif %}

                            {% endfor %}
                           </small>
                           <br><br>
                    
                        {% endfor %}
                         <strong>
                            Total:   R{{ totals }}
                         </strong>
                         <h1>
                            payment successfully
                         </h1>
                         <br>
                         <br>
                         <a href="{% url 'map' %}" class="btn btn-sm btn-outline-secondary">Track Order</a>

                        
                       
                        
                      
                    </div>
                  </div>
            </div>

         </div>
  </div>
 <br><br>
  
  
<br>
<br>
<br>
<br> <br>
<br>

{% endblock %}